.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin-bottom: 100px;
}

.new-collections h1{
    color: rgb(211, 42, 70);
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr{
    width:200px;
    height:6px;
    border-radius: 10px;
    background: pink;
}

.new-collections-item{
    margin-top: 50px;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    border-radius: 8px;
}

.new-collections-item .item img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.new-collections-item .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}

.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;

}



